@model Aplikacija.Core.CapacityMoney

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CapacityMoney</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypePolicy.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypePolicy.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
